.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #D5BDAF;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  margin-bottom: 11rem;
}